<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zk.base.mapper.SysRoleMapper">
    <resultMap id="BaseResultMap" type="com.zk.base.model.SysRole">
        <id column="role_id" jdbcType="INTEGER" property="roleId"/>
        <result column="role_name" jdbcType="VARCHAR" property="roleName"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="role_status" jdbcType="INTEGER" property="roleStatus"/>
        <result column="create_user" jdbcType="VARCHAR" property="createUser"/>
        <result column="create_time" jdbcType="DATE" property="createTime"/>
        <result column="update_user" jdbcType="VARCHAR" property="updateUser"/>
        <result column="update_time" jdbcType="DATE" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        role_id, role_name, description, role_status, create_user, create_time, update_user,
        update_time
    </sql>

    <select id="selectSysRoleList" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_role
    </select>

    <select id="selectSysRoleByRoleId" resultType="com.zk.base.model.SysRole">
        select
        <include refid="Base_Column_List"/>
        from sys_role
        where role_id = #{roleId}
    </select>

    <delete id="deleteSysRoleByRoleId" parameterType="java.lang.Integer">
        delete from sys_role
        where role_id = #{roleId,jdbcType=INTEGER}
    </delete>

    <insert id="addSysRole" parameterType="com.zk.base.model.SysRole">
        insert into sys_role (role_id, role_name, description,
          role_status, create_user, create_time,
          update_user, update_time)
        values (#{roleId,jdbcType=INTEGER}, #{roleName,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR},
          #{roleStatus,jdbcType=INTEGER}, #{createUser,jdbcType=VARCHAR}, #{createTime,jdbcType=DATE},
          #{updateUser,jdbcType=VARCHAR}, #{updateTime,jdbcType=DATE})
    </insert>

    <update id="updateSysRole" parameterType="com.zk.base.model.SysRole">
        update sys_role
        set role_name = #{roleName,jdbcType=VARCHAR},
          description = #{description,jdbcType=VARCHAR},
          role_status = #{roleStatus,jdbcType=INTEGER},
          create_user = #{createUser,jdbcType=VARCHAR},
          create_time = #{createTime,jdbcType=DATE},
          update_user = #{updateUser,jdbcType=VARCHAR},
          update_time = #{updateTime,jdbcType=DATE}
        where role_id = #{roleId,jdbcType=INTEGER}
    </update>
</mapper>